node_modules/
.expo/
dist/
web-build/
.DS_Store
.env
.env*.local
*.log
.npm/
.tmp/
.local_cocoapods/
ios/.cocoapods-home/
ios/ios/.cocoapods-home/
ios/.derivedData/
.cocoapods/
.cocoapods/**
android/emulator/
android/emulator/**
android/local.properties
android/**/local.properties
android/.gradle/
android/.gradle/**
android/**/build/
android/**/build/**
