<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DeadPions.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>30</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>F45C0E1764F083A0B8FACB0B77E9D6F7BA2BAAD5</string>
				<key>dateExpires</key>
				<string>18/02/2027</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F45C0E1764F083A0B8FACB0B77E9D6F7BA2BAAD5</string>
						<key>dateExpires</key>
						<string>18/02/2027</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>React.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GA3R4ZC74G</string>
						<key>name</key>
						<string>Jean Julien Mackenson</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F45C0E1764F083A0B8FACB0B77E9D6F7BA2BAAD5</string>
						<key>dateExpires</key>
						<string>18/02/2027</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>ReactNativeDependencies.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GA3R4ZC74G</string>
						<key>name</key>
						<string>Jean Julien Mackenson</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F45C0E1764F083A0B8FACB0B77E9D6F7BA2BAAD5</string>
						<key>dateExpires</key>
						<string>18/02/2027</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>WebRTC.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GA3R4ZC74G</string>
						<key>name</key>
						<string>Jean Julien Mackenson</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>0.12.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F45C0E1764F083A0B8FACB0B77E9D6F7BA2BAAD5</string>
						<key>dateExpires</key>
						<string>18/02/2027</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>hermes.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GA3R4ZC74G</string>
						<key>name</key>
						<string>Jean Julien Mackenson</string>
					</dict>
					<key>versionNumber</key>
					<string>0.12.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>GA3R4ZC74G.com.deadpions.app</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.in-app-payments</key>
				<array>
					<string>merchant.com.deadpions</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>GA3R4ZC74G</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>DeadPions.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>af2f5ae6-af4d-4b38-b097-4264094361ee</string>
				<key>dateExpires</key>
				<string>18/02/2027</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: com.deadpions.app</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>GA3R4ZC74G</string>
				<key>name</key>
				<string>Jean Julien Mackenson</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.0</string>
		</dict>
	</array>
</dict>
</plist>
